* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    background-color: #faebee;
}
@keyframes pColor{
    from{color: #e8d1d5;}
    to{color: #42070e;}
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

hr{
    border-bottom: 1px solid #42070e;
}
.center{
    margin: 0 auto;
    width: 80%;
    height: inherit;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #e8d1d5;
    
}
#logo {
    width: 200px;
    height: 20px;
    margin: 40px 0px;
}
#logo img{
    width: 200px;
    height: 20px;
}

#nav {
    width: 50%;
    text-align: right;
    margin-top: 35px;
    margin-right: 50px;
   
}
#nav a{
    
    transition: all 400ms;
}
#nav ul li{
    padding: 0px 25px;
    display: inline;
    
}
.link{
    color:#42070e;
    font-size: 20px;
    text-transform: uppercase;
    
}
.hover a:hover, .current {
    color:#42070e;
    border-bottom: #42070e 1px solid;
    padding: 5px 0px;
}

#main{
    width: 100%;
    background-image: url("../img/home-bg.jpg");
    background-attachment: fixed;
}
.bg-image {
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}
.shadow{
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height: 525px;
    padding: 10% 0%; 
}
.shadow h1{
    color:#e8d1d5;
    text-align: center;
    text-transform: uppercase;
    font-size:100px;
    letter-spacing: 10px;
    font-weight: 500;
}
.shadow h2{
    margin-top: -20px;
    color:#e8d1d5;
    text-align: center;
    font-size:35px;
    letter-spacing: 5px;
    font-weight: 300;
    animation: pColor 2s infinite alternate ;
}
.middle-div{
    height: 135px;
    padding-bottom:45px;
    
}

.middle-div p {
    padding-top:45px;
    font-size: 32px;
    color: #42070e;
    font-weight: 400;
    
}
.underline{
    width: 400px;
    margin: -50px auto;
    color: #42070e;
    
}
.content{
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: start;
}
.content-box{
    width: 50%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content p{
    padding: 100px 50px;
    text-align: center;
    font-size: 30px;
    color: #42070e;
    font-weight: 500;
    
}

#products {
    background-image: url("../img/products-content.jpg");
}
#skincare-content {
    background-image: url("../img/skincare-content.jpg");
    
}
.button {
    width: 225px;
    background-color:#e8d1d5;
    height: fit-content;
    margin: 0px auto;
    
}
.button h2{
    padding: 10px 0;
    font-weight: 400;
    color:#42070e;
    font-style: italic;
    transition: all 1s;
}
.button :hover{
    background-color: #42070e;
    color:#faebee;
}
#about {
    width: 100%;
    height: auto;
    background-image: url("../img/home-about.jpg");
}
#footer{
    width: 100%;
    height: 210px;
    background-color: #e8d1d5;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
#footer a{
    color:#42070e;
}
#footer a:hover{
    color:#42070e;
}
.socials {
    width: 20%;
    display: block;
    text-align: left;
    padding: 5px auto;
    border-left: 2px solid #42070e;
}
.fa{
    color: #42070e;
    font-size: large;
    padding:5px 10px;
}
.footer-center{
    width: 40%;
    text-align: center;
    color: #42070e;
}

.footer-center span{
    font-weight: 600;
}
.footer-links{
    width: 15%;
    text-align: right;
    padding-right: 15px;
    border-right:2px solid #42070e ;
}
.footer-links ul li{
    padding: 5px 0px;
}

.author-content{
    margin: 25px 0px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
.author-content h2{
    color:#ad0a36;
    letter-spacing: 4px;
    padding: 20px 0;
    font-size: 28px;
    
}
.author-content p{
    color:#42070e;
    padding-bottom: 20px;
    font-size: 22px;
}
.author-content img{
    width: 375px;
    height: 565px;
    transition: all 400ms;
    box-shadow:0px 0px 10px  #9a9a9a; ;
}
.author-content img:hover{
    transform: scale(0.9);
    cursor: pointer;
    
}
.bottom{
    width: 50%;
    margin: 0 auto;
    color: #42070e;
}
#gallery {
    width: 100%;
    background-image: url(../img/gallery-bg.jpg);
    background-attachment: fixed;
}

.gallery-row{
    width: 80%;
    margin:0px auto;
    margin-bottom: 50px ;
    display: flex;
    justify-content: space-around;
   
}
.gallery-img {
    width: 240px;
    height: 360px;
    transition: all 400ms;
    box-shadow: 0px 0px 10px  #9a9a9a;
}
.gallery-row img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#author{
    background-image: url(../img/author-bg.jpg);
    background-attachment: fixed;
}
#services{
    background-image: url("../img/services-bg.jpg");
    background-attachment: fixed;
}
#lashes {
    background-image: url("../img/lashes-article.jpg");
}
#skincare {
    background-image: url("../img/skin-article.jpg");
}
#nails {
    background-image: url("../img/nails-article.jpg");
}
#form-wrap {
    width: 100%;
    height: 500px;
    text-align: center;
    margin: 0px auto;
    background:rgba(255,255,255,0.4);
}
#form-wrap p{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 30px;
    
}
#form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

}
input, textarea, button{
    width: 300px;
    margin: 0px auto;
    margin-bottom:15px;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #42070e;
    color:#42070e;
    font-family: 'Jost', sans-serif;
    text-indent:5px;
    outline: none;
}
#button{
    width: 100px;
    text-align: center;
    text-indent: 0px;
    border: 2px solid #42070e;
    transition: all 400ms;
    letter-spacing: 3px;
    padding: 5px 2px;
    font-size: 14px;
}
#button:hover{
    background-color: #42070e;
    color: #faebee;
}
#services-form{
    background-image: url(../img/services-form.jpg);
    background-size:cover;
    
}
#about-us{
    background-image: url("../img/about-us-bg.jpg");
    background-attachment: fixed;
}
#section {
    
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article{
    width: 80%;
    display: flex;
    justify-content:space-evenly ;
    margin: 0 auto;
    
}
.article p{
    font-size: 26px;
    padding:50px 120px;
    text-align:justify;
    color: #42070e;
}

.article img{
    height: 400px;
    width: 400px;
    margin: 0px auto;
    margin-bottom: 50px;
}
.arrow{
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 50px;
    display: flex;
    justify-content: center;
   
}

.fa-angle-down{
    color: #faebee;
    font-size: 65px;
    animation: pColor 2s  infinite alternate;
}
#pricelist{
    background-image: url("../img/pricelist.jpg");
    background-attachment: fixed;
}
#pricelist-content{
    width: 100%;
    height: 250px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.price-box{
    text-align: center;
    width: 25%;
    color: #42070e;
}
.prices{
    margin: 0px auto;
    font-size: 18px;
    width: 100%;
}
.prices th{
    font-size: 22px;
    border-bottom:solid #42070e 1px;
    padding: 10px 0px;
    letter-spacing: 5px;
}
.prices td{
    padding: 7px 0px;
    letter-spacing: 1px;
}
.prices td:nth-child(odd){
    text-align: left;
  
}
.prices td:nth-child(even){
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #ad0a36;
}